<!DOCTYPE html>
<html>
<head>
<link href="/css/debian.css" rel="stylesheet" type="text/css">
<link href="/css/udd.css" rel="stylesheet" type="text/css">
<title>Debian Bugs Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<div id="header">
  <div id="wikisection">
    <p class="section"><a href="/" title="Ultimate Debian Database">UDD</a></p>
  </div>
  <div id="upperheader">
    <div id="logo">
        <a href="https://www.debian.org" title="Debian Home"><img src="/img/openlogo-50.png" alt="Debian" width="50" height="61"></a>
    </div>
  </div> <!-- end upperheader -->
  <div id="navbar">
    <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
    <ul>
        <li><a href="/">Ultimate Database</a></li>
        <li><a href="/bugs/">Bugs search</a></li>
        <li><a href="/dmd/">Maintainer dashboard</a></li>
        <li><a href="/lintian/">Lintian</a></li>
    </ul>
  </div> <!-- end navbar -->
  <p id="breadcrumbs">&nbsp;Bugs search</p>
</div> <!-- end header -->

<div id="content">

<div id='quicknav'>
    <b>Navigation</b>:
    <a href='#suites'>Suites</a> /
    <a href='#filters'>Filters</a> /
    <a href='#types'>Types</a> /
    <a href='#fields'>Fields</a> /
    <a href='#sort'>Sort</a> /
    <a href='#format'>Format</a> /
    <a href="javascript:f=document.getElementById('searchform');removeBlankFields(f);f.submit();">Search</a>
    <% if bugs %>/ <a href='#results'>Results</a><% end %>
</div>

<h1>Bugs search</h1>

<h3 id='queries'>Useful queries for testing (<%= r_testing %>)</h3>
<div>
    <ul>
    <li>BSP view (bugs needing attention):
<!-- give the maintainer some time to fix the bug before pointing bug-squashers at it -->
<a href="<%= bugsurl %>?
release=<%= r_testing %>_and_sid&amp;
merged=ign&amp;
rt<%= r_testing %>-will-remove=ign&amp;
rt<%= r_testing %>-can-defer=ign&amp;
autoremovals=ign&amp;
deferred=ign&amp;
fnewer=ign&amp;
fnewerval=30&amp;
rc=1&amp;
cpopcon=1&amp;
chints=1&amp;
ctags=1&amp;
cclaimed=1&amp;
cdeferred=1&amp;
caffected=1&amp;
crttags=1&amp;
sortby=last_modified&amp;
sorto=asc&amp;
">Old bugs affecting sid and <%= r_testing %>, not RT-tagged and not marked for auto-removal</a></li>
    <li>Sponsor view: <a href="<%= bugsurl %>?
release=<%= r_testing %>_and_sid&amp;
patch=only&amp;
merged=ign&amp;
done=ign&amp;
fnewerval=7&amp;
deferred=ign&amp;
rc=1&amp;
sortby=last_modified&amp;
sorto=asc&amp;
chints=1&amp;
ctags=1&amp;
cdeferred=1&amp;
cautormtime=1&amp;
">Affecting sid and <%= r_testing %>, not marked as done, tagged 'patch', not in delayed; those need a DD to review and sponsor an upload or remove the tag</a></li>
    <li>Cleaner view:
<!-- Don't show bugs with recent changes, because the binaries could take some time to build -->
<a href="<%= bugsurl %>?
release=<%= r_testing %>_and_sid&amp;
merged=ign&amp;
done=only&amp;
rc=1&amp;
flastmod=ign&amp;
flastmodval=5&amp;
sortby=last_modified&amp;
sorto=asc&amp;
ctags=1&amp;
cdeferred=1&amp;
caffected=1&amp;
cautormtime=1&amp;
cmissingbuilds=1&amp;
">Marked as done, no activity in the last 5 days, but still affecting sid and <%= r_testing %>;
 why is it still affecting unstable? fixed only in stable or experimental? missing binaries? cruft? wrong changelog?</a></li>
    <li>Release Team view:
<!-- Only show bugs after the standard migration delay is over -->
<a href="<%= bugsurl %>?
release=<%= r_testing %>_not_sid&amp;
merged=ign&amp;
rc=1&amp;
flastmod=ign&amp;
flastmodval=5&amp;
sortby=last_modified&amp;
sorto=asc&amp;
chints=1&amp;
ctags=1&amp;
cdeferred=1&amp;
crttags=1&amp;
cautormtime=1&amp;
cmissingbuilds=1&amp;
caffected=1&amp;
cpopcon=1&amp;
cbritney=1&amp;
">Fixed in sid, no activity in the last 5 days, but still not fixed in <%= r_testing %>. Help the fix migrate to <%= r_testing %>!</a></li>
    </ul>
</div>

<form id='searchform' action="<%= bugsurl %>#results" method="get" onsubmit="removeBlankFields(this);">

<h3 id='suites'>Suites<sup>[<a href="#ftn.distro">1</a>]</sup></h3>
<div class='indent'>
  <ul class="columns2">
  <% RELEASE_RESTRICT.each do |r| %>
  <% checked = (release == r[0] ? 'CHECKED':'') %>
  <li><label><input type='radio' name='release' value='<%= r[0] %>' <%= checked %>/> <%= r[1] %></label></li>
   <% end %>
   </ul>
</div>

<h3 id='filters'>Filters</h3>
<div class='indent'>
    <i>off / include / exclude</i>
    <ul class="columns3">
      <% filterlist.each do |r| %>
      <li><input type='radio' name='<%= r[0] %>' value='' <%= filters[r[0]]==''?'CHECKED':'' %>/>
      <input type='radio' name='<%= r[0] %>' value='only' <%= filters[r[0]]=='only'?'CHECKED':'' %>/>
      <input type='radio' name='<%= r[0] %>' value='ign' <%= filters[r[0]]=='ign'?'CHECKED':'' %>/>
      <%= r[1] %></li>
      <% end %>

      <li><input type='radio' name='fnewer' value='' <%= fnewer==''?'CHECKED':'' %>/>
      <input type='radio' name='fnewer' value='only' <%= fnewer=='only'?'CHECKED':'' %>/>
      <input type='radio' name='fnewer' value='ign' <%= fnewer=='ign'?'CHECKED':'' %>/>
      newer than <input type='text' size='3' name='fnewerval' value='<%= fnewerval %>'/> days</li>

      <li><input type='radio' name='flastmod' value='' <%= flastmod==''?'CHECKED':'' %>/>
      <input type='radio' name='flastmod' value='only' <%= flastmod=='only'?'CHECKED':'' %>/>
      <input type='radio' name='flastmod' value='ign' <%= flastmod=='ign'?'CHECKED':'' %>/>
      modified in the last <input type='text' size='3' name='flastmodval' value='<%= flastmodval %>'/> days</li>

      <li><input type='radio' name='fblocking' value='' <%= fblocking==''?'CHECKED':'' %>/>
      <input type='radio' name='fblocking' value='only' <%= fblocking=='only'?'CHECKED':'' %>/>
      <input type='radio' name='fblocking' value='ign' <%= fblocking=='ign'?'CHECKED':'' %>/>
      blocking bug <input type='text' size='6' name='fblockingval' value='<%= fblockingval %>'/></li>

      <li><input type='radio' name='fusertag' value='' <%= fusertag==''?'CHECKED':'' %>/>
      <input type='radio' name='fusertag' value='only' <%= fusertag=='only'?'CHECKED':'' %>/>
      <input type='radio' name='fusertag' value='ign' <%= fusertag=='ign'?'CHECKED':'' %>/>
      usertag <input type='text' size='15' name='fusertagtag' value='<%= fusertagtag %>'/>
      for user <input type='text' size='30' name='fusertaguser' value='<%= fusertaguser %>'/>
	  </li>
    </ul>
</div>

<h3 id="types">Bugs or packages selection</h3>
<div class="indent">
    <ul class="columns2">
      <% TYPES.each do |t| %>
      <% checked = types[t[0]]?" checked":"" %>
      <li><input type='checkbox' id='<%= t[0] %>' name='<%= t[0] %>' value='1'<%= checked %>/><label for='<%= t[0] %>'><%= t[1] %></label></li>
      <% end %>  
    </ul>
    <br/>
    <input type='checkbox' id='dmd' name='dmd' value='1'<%= dmd ? ' checked':'' %>/><label for='dmd'>Package selection using the <a href="/dmd/">Debian Maintainer Dashboard</a> form:</label>
    <div class="indent">
  <table class="table-contour"><tbody>
  <%= ERB.new(File.read(File.expand_path('templates/dmd-form.erb')), nil, nil, '_erbout01').result(binding) %>
  </tbody></table>
    </div>
</div>

<h3 id='fields'>Additional fields</h3>
<div class="indent">
    <ul class="columns2">
    <% COLUMNS.each do |r| %>
    <% checked = cols[r[0]] ? 'checked':'' %>
    <li><label><input type='checkbox' name='<%= r[0] %>' value='1' <%= checked %>/><%= r[1] %></label></li>
    <% end %>
    </ul>
</div>

<h3 id='sort'>Sort</h3>
<div class="indent">
    <ul class='columns3'>
    <% SORTS.each do |r| %>
    <% checked = (sortby == r[0] ? 'CHECKED':'') %>
    <li><label><input type='radio' name='sortby' value='<%= r[0] %>' <%= checked %>/><%= r[1] %></label></li>
    <% end %>

    <% [['asc', 'ascending'],[ 'desc', 'decreasing']].each do |r| %>
    <% checked = (sorto == r[0] ? 'CHECKED':'') %>
    <li><label><input type='radio' name='sorto' value='<%= r[0] %>' <%= checked %>/><%= r[1] %></label></li>
    <% end %>
    </ul>
</div>

<h3 id='format'>Format</h3>
<div class="indent">
    <label><input type='radio' name='format' value='html' checked/> HTML</label>
    <label><input type='radio' name='format' value='json'/> JSON</label>
    <label><input type='radio' name='format' value='yaml'/> YAML</label>
    <label><input type='radio' name='format' value='rss'/> RSS</label>
</div>

<p><input type='submit' value='Search' class='btn-lg'/></p>
</form>

<% if error %>
    <p><b>Error :</b> <%= error %></p>
<% end %>

<% if bugs %>
    <h3 id='results'><%= bugs.length %> bugs found</h3>
    <table class="table table-bordered tablesorter">
    <thead>
        <tr>
        <th>bug#</th>
        <% if cols['ctags'] %><th>tags</th><% end %>
        <% if cols['caffected'] %><th>releases</th><% end %>
        <th>package</th>
        <th>title</th>
        <% if cols['cpopcon'] %><th>popcon</th><% end %>
        <% if cols['cseverity'] %><th>severity</th><% end %>
        <% if cols['chints'] %><th>hints</th><% end %>
        <% if cols['cbritney'] %><th>britney status</th><% end %>
        <% if cols['cmissingbuilds'] %><th>missing builds in unstable</th><% end %>
        <% if cols['cwhykey'] %><th>why key pkg</th><% end %>
        <% if cols['cautormtime'] %><th>autoremoval</th><% end %>
        <% if cols['cclaimed'] %><th>claimed by</th><% end %>
        <% if cols['cdeferred'] %><th>deferred</th><% end %>
        <% if cols['crttags'] %><th>RT</th><% end %>
        <% if cols['clastupload'] %><th>last upload to unstable</th><% end %>
        <% if cols['caffected_packages'] %><th>affected packages</th><% end %>
        <th>modified</th></tr>
    </thead>
    <tbody>

    <% bugs.each do |r| %>
        <tr>
        <% id = r['id'] ; if r['status'] == 'done' ; id = "<strike>#{id}</strike>"; end %>
        <td><a href="https://bugs.debian.org/<%= r['id'] %>">#<%= id %></a></td>
        <% if cols['ctags'] %><td><%= gentags(r['tags'] || []) %> &nbsp;</td><% end %>
        <% if cols['caffected'] %><td><%= r['affected_html'] %> &nbsp;</td><% end %>
        <td>        
        <% if (cols['ckeypackage'] && r['whykey'] != '') %>&#x1f511;<% end %>
        <% srcs = r['source'].split(/,\s*/) %>
        <% bins = r['package'].split(/,\s*/) %>
        <% if bins.length == 1 %>
          <!-- link to source package if there is only 1 package -->
          <a href="https://tracker.debian.org/<%= srcs[0] %>"><%= bins[0] %></a>
        <% else %>
          <!-- if there is more than 1, we don't know which package is from which -->
          <!-- source, so link the the package and let the PTS sort it out -->
          <!-- strip 'src:' from the package, as the PTS doesn't do this for us -->
          <%= bins.map { |b| "<a href=\"https://tracker.debian.org/#{b.sub('src:','')}\">#{b}</a>" }.join(', ') %>
        <% end %>
        </td>
        <td><%= CGI::escapeHTML(r['title']) %></td>
        <% if cols['cpopcon'] %><td><%= r['popcon'] %></td><% end %>
        <% if cols['cseverity'] %>
            <td>
            <% if r['severity'] == "wishlist" %><span style="display:none;">1</span>
            <% elsif r['severity'] == "minor" %><span style="display:none;">2</span>
            <% elsif r['severity'] == "normal" %><span style="display:none;">3</span>
            <% elsif r['severity'] == "important" %><span style="display:none;">4</span>
            <% elsif r['severity'] == "serious" %><span style="display:none;">5</span>
            <% elsif r['severity'] == "grave" %><span style="display:none;">6</span>
            <% elsif r['severity'] == "critical" %><span style="display:none;">7</span>
            <% end %>
            <%= r['severity'] %></td>
        <% end %>
        <% if cols['chints'] %><td><%= gen_hints_unblocks(r['rt-hints'] || [], r['unblock-requests'] || []) %> &nbsp;</td><% end %>
        <% if cols['cbritney'] %><td><%= r['britney_html'] %></td><% end %>
        <% if cols['cmissingbuilds'] %><td><a href="https://buildd.debian.org/status/package.php?p=<%= r['source']%>&suite=sid"><%= r['missingbuilds'] %></a></td><% end %>
        <% if cols['cwhykey'] %><td><%= r['whykey'] %></td><% end %>
        <% if cols['cautormtime'] %><td><%= r['autormdate'] %></td><% end %>
        <% if cols['cclaimed'] %><td><%= r['claimed'] %> &nbsp;</td><% end %>
        <% if cols['cdeferred'] %><td><%= r['deferred_text'] %> &nbsp;</td><% end %>
        <% if cols['crttags'] %><td><%= (r['rttags'] || []).join(' ') %> &nbsp;</td><% end %>
        <% if cols['clastupload'] %><td><%= r['lastupload'] %></td><% end %>
        <% if cols['caffected_packages'] %><td><%= r['affected_packages'] %></td><% end %>
        <td><%= r['last_modified'] %></td></tr>
    <% end %>
    
    </tbody>
    </table>

<p><b>Generated in <%= timegen %> seconds.</b></p>
<pre><%= q %></pre>

<% end %>

</div>

<div id="footer">
    <div id="fineprint">
        <p><sup>[<a id="ftn.distro">1</a>] </sup>This already uses release tags ('sid', '<%= r_testing %>') and xxx-ignore ('<%= r_testing %>-ignore') to include/exclude bugs</p>
        <p>
        Ultimate Debian Database:
        <a href="https://wiki.debian.org/UltimateDebianDatabase/"> hacking / bug reporting / contact information</a><br />
        Debian is a registered trademark of <a href="https://www.spi-inc.org/">Software in the Public Interest</a>
        </p>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/removeblankfields.js"></script>
<script type="text/javascript" src="/js/columns.js"></script>
<script type="text/javascript" src="/js/quicknav.js"></script>
<script type="text/javascript" src="/js/dmd.js"></script>
<script type="text/javascript">
<% if bugs %>
    function position() {
        window.location.hash = "#results";
    }
    window.addEventListener('load', position, false);
<% end %>
</script>
</body>
</html>
